section {
  width: 100%;

  padding: 30px;

  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(black, 0.1);
  box-shadow: 0 4px 18px rgba(black, 0.1);

  display: flex;
  justify-content: space-between;

  .coords {
    color: rgb(164, 164, 164);
    font-size: 11px;
    font-weight: 350;

    span {
      color: rgb(197, 197, 197);
    }
  }
}

.leftContainer {
  & > p {
    font-weight: 250;

    margin-top: 5px;
  }

  .city {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    display: flex;
    gap: 5px;
    align-items: center;

    svg {
      fill: rgb(69, 74, 222);
      height: 20px;
    }
  }
}

.rightContainer {
  .temp {
    font-size: 38px;
    font-weight: 500;

    span {
      opacity: 0.2;
    }
  }
}

@media (max-width: 560px) {
  section {
    text-align: center;

    flex-direction: column;

    .leftContainer {
      margin-bottom: 15px;

      .city {
        justify-content: center;
      }
    }
  }
}
